# Django Settings
DJANGO_SECRET_KEY="your-super-secret-key-change-me"
DJANGO_DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# AWS S3 Settings
AWS_ACCESS_KEY_ID="YOUR_AWS_ACCESS_KEY_ID"
AWS_SECRET_ACCESS_KEY="YOUR_AWS_SECRET_ACCESS_KEY"
AWS_REGION="us-east-1"
AWS_S3_BUCKET_NAME="your-unique-django-s3-bucket-name"

# Opcional: para S3 compatível como MinIO/Localstack
# AWS_S3_ENDPOINT_URL="http://localstack:4566"
